@keyframes show-scrollbar{
    0%{
        overflow: hidden;
    }
    100%{
        overflow: scroll;
    }
}
@keyframes hide-scrollbar{
    0%{
        overflow: scroll;
    }
    100%{
        overflow: hidden;
    }
}
@keyframes not-selectable{
    0%{
        pointer-events: none;
    }
    100%{
        pointer-events: initial;
    }
}

.sidebar_ded4b5{ /* collapsible sidebar */
    width: calc(var(--9)*1px);
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover{
    width: 240px;
    transition: var(--5);
    transition-delay: var(--8);
}

.sidebar_ded4b5 .scrollerBase_dc3aa9{ /* hide scrollbar when not hovered */
    animation: hide-scrollbar 0s step-end forwards;
}
.sidebar_ded4b5:hover .scrollerBase_dc3aa9{
    animation: show-scrollbar calc(var(--8) + var(--5)/2) step-end;
}

.container__8759a{ /* remove selected dm padding when collapsed */
    margin-left: 0px;
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover .container__8759a{
    margin-left: 8px;
    transition: margin-left var(--5);
    transition-delay: var(--8);
}

.link__95dc0{ /* remove selected channel padding when collapsed */
    margin-left: -8px;
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.link__95dc0 > div{
    margin-left: 8px;
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover .link__95dc0, .sidebar_ded4b5:hover .link__95dc0 > div{
    margin-left: 0px;
    transition: margin-left var(--5);
    transition-delay: var(--8);
}

.containerDefault__3187b{ /* limit selected channel width to not go into where the scrollbar would be */
    max-width: 232px;
}

.children_a486f8{ /* remove invite & settings buttons from channels when collapsed */
    pointer-events: none;
    opacity: 0;
    max-width: 0px;
    transition: var(--6);
    transition-delay: var(--7);
}

.sidebar_ded4b5:hover .children_a486f8{
    animation: not-selectable calc(var(--8) + var(--5)/2) step-end forwards;
    opacity: 1;
    max-width: 60px;
    transition: var(--5);
    transition-delay: var(--8);
}

.closeButton__8f1fd{ /* make close dm button not clickable when collapsed (cant seem to get it to properly disappear?) */
    pointer-events: none;
}
.sidebar_ded4b5:hover .closeButton__8f1fd{
    animation: not-selectable calc(var(--8) + var(--5)/2) step-end forwards;
}

.layout__59abc{ /* dms */
    margin-left: min(calc(0.5px * var(--9) - 24px), 8px);
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover .layout__59abc{
    margin-left: 0px;
    transition: margin-left var(--5);
    transition-delay: var(--8);
}

.list__02208 > div{ /* vc participants */
    right: max(calc(-0.5px * var(--9) + 56px), 0px);
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover .list__02208 > div{
    right: 0px;
    transition: var(--5);
    transition-delay: var(--8);
}

.name__590d6, .children_d4d259, .arrow_cb03b8, .headerText__051c0, .container_de798d .icon__4cb88{ /* category name, category icons, category arrow, dm category name, dm category icons */
    opacity: 0;
    transition: var(--6);
    transition-delay: var(--7);
}
.name__8d1ec, .nameTag__0e320{ /* this is separate so that the channel names & user info do not visibly disappear */
    opacity: calc(var(--9) - 59);
    transition-delay: calc(var(--7) + var(--6));
}

.sidebar_ded4b5:hover .name__590d6, .sidebar_ded4b5:hover .children_d4d259, .sidebar_ded4b5:hover .arrow_cb03b8, .sidebar_ded4b5:hover .name__8d1ec, .sidebar_ded4b5:hover .nameTag__0e320, .sidebar_ded4b5:hover .headerText__051c0, .sidebar_ded4b5:hover .icon__4cb88{
    opacity: 1;
    transition: opacity var(--5);
    transition-delay: var(--8);
}

.wrapper__9c483:before, .sidebar_ded4b5 .content__23cab > .container_de798d:before{ /* custom rectangle */
    opacity: 1;
    transition: var(--6);
    transition-delay: var(--7);
    content:'';
    position: absolute;
    left: calc(var(--9)*1px / 2 - 8px);
    width: 10px;
    border: 3px solid;
    border-radius: 3px;
}
.sidebar_ded4b5:hover .wrapper__9c483:before, .sidebar_ded4b5:hover .container_de798d:before{
    opacity: 0;
    transition: var(--5);
    transition-delay: var(--8);
}

.container__7c79d{ /* banner & server info */
    max-height: 48px;
    opacity: 0; 
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover .container__7c79d{
    max-height: 135px;
    opacity: 1;
    transition: var(--5);
    transition-delay: var(--8);
}

.container__4f639{ /* boosts section */
    max-height: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0; 
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover .container__4f639{
    max-height: 57px;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-bottom: 7px;
    opacity: 1;
    transition: var(--5);
    transition-delay: var(--8);
}

#channels > ul > div:nth-child(1){ /* invisible separater on community servers */
    max-height: 0px;
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_ded4b5:hover #channels > ul > div:nth-child(1){
    max-height: 84px;
    transition: var(--5);
    transition-delay: var(--8);
}
