@keyframes show-scrollbar{
    0%{
        overflow: hidden;
    }
    100%{
        overflow: scroll;
    }
}
@keyframes hide-scrollbar{
    0%{
        overflow: scroll;
    }
    100%{
        overflow: hidden;
    }
}
@keyframes not-selectable{
    0%{
        pointer-events: none;
    }
    100%{
        pointer-events: initial;
    }
}

.sidebar_c48ade{ /* collapsible sidebar */
    max-width: calc(var(--9)*1px);
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover{
    max-width: 240px;
    transition: var(--5);
    transition-delay: var(--8);
}

.sidebar_c48ade .scrollerBase__99f8c{ /* hide scrollbar when not hovered */
    animation: hide-scrollbar 0s step-end forwards;
}
.sidebar_c48ade:hover .scrollerBase__99f8c{
    animation: show-scrollbar calc(var(--8) + var(--5)/2) step-end;
}

.container_e45859{ /* remove dm padding when collapsed */
    margin-left: 0px;
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .container_e45859{
    margin-left: 8px;
    transition: margin-left var(--5);
    transition-delay: var(--8);
}

.link__2ea32{ /* remove selected channel padding when collapsed */
    margin-left: -8px;
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.link__2ea32 > div{
    margin-left: 8px;
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .link__2ea32, .sidebar_c48ade:hover .link__2ea32 > div{
    margin-left: 0px;
    transition: margin-left var(--5);
    transition-delay: var(--8);
}

.content__99f8c > .sectionDivider__629e4{ /* remove padding on channel separater when collapsed */
    margin-left: 0px;
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .content__99f8c > .sectionDivider__629e4{
    margin-left: 8px;
    transition: var(--5);
    transition-delay: var(--8);
}

.containerDefault_c69b6d{ /* limit selected channel width to not go into where the scrollbar would be */
    max-width: 232px;
}

.children__2ea32{ /* remove invite & settings buttons from channels when collapsed */
    pointer-events: none;
    opacity: 0;
    max-width: 0px;
    transition: var(--6);
    transition-delay: var(--7);
}

.sidebar_c48ade:hover .children__2ea32{
    animation: not-selectable calc(var(--8) + var(--5)/2) step-end forwards;
    opacity: 1;
    max-width: 60px;
    transition: var(--5);
    transition-delay: var(--8);
}

.closeButton__972a0{ /* make close dm button not clickable when collapsed (cant seem to get it to properly disappear?) */
    pointer-events: none;
}
.sidebar_c48ade:hover .closeButton__972a0{
    animation: not-selectable calc(var(--8) + var(--5)/2) step-end forwards;
}

.layout__20a53{ /* dms */
    margin-left: min(calc(0.5px * var(--9) - 24px), 8px);
    transition: margin-left var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .layout__20a53{
    margin-left: 0px;
    transition: margin-left var(--5);
    transition-delay: var(--8);
}

.list_c3cd7d > div{ /* vc participants */
    right: max(calc(-0.5px * var(--9) + 56px), 0px);
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .list_c3cd7d > div{
    right: 0px;
    transition: var(--5);
    transition-delay: var(--8);
}

.name__29444, .children__29444, .icon__29444, .headerText__99e7c, .privateChannelsHeaderContainer__99e7c svg{ /* category name, category icons, category arrow, dm category name, dm category icons */
    opacity: 0;
    transition: var(--6);
    transition-delay: var(--7);
}
.name__2ea32, .nameTag__37e49{ /* this is separate so that the channel names & user info do not visibly disappear */
    opacity: calc(var(--9) - 59);
    transition-delay: calc(var(--7) + var(--6));
}

.sidebar_c48ade:hover .name__29444, .sidebar_c48ade:hover .children__29444, .sidebar_c48ade:hover .icon__29444, .sidebar_c48ade:hover .name__2ea32, .sidebar_c48ade:hover .nameTag__37e49, .sidebar_c48ade:hover .headerText__99e7c, .sidebar_c48ade:hover svg{
    opacity: 1;
    transition: opacity var(--5);
    transition-delay: var(--8);
}

.wrapper__29444:before, .sidebar_c48ade .content__99f8c > .privateChannelsHeaderContainer__99e7c:before{ /* custom rectangle */
    opacity: 1;
    transition: var(--6);
    transition-delay: var(--7);
    content:'';
    position: absolute;
    left: calc(var(--9)*1px / 2 - 8px);
    width: 10px;
    border: 3px solid;
    border-radius: 3px;
}
.sidebar_c48ade:hover .wrapper__29444:before, .sidebar_c48ade:hover .privateChannelsHeaderContainer__99e7c:before{
    opacity: 0;
    transition: var(--5);
    transition-delay: var(--8);
}

.container_f37cb1{ /* banner & server info */
    max-height: 48px;
    opacity: 0; 
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .container_f37cb1{
    max-height: 135px;
    opacity: 1;
    transition: var(--5);
    transition-delay: var(--8);
}

.container_eff079{ /* boosts section */
    max-height: 0px;
    max-width: 224px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0; 
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .container_eff079{
    max-height: 57px;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-bottom: 7px;
    opacity: 1;
    transition: var(--5);
    transition-delay: var(--8);
}

#channels > ul > div:nth-child(1){ /* invisible separater on community servers */
    max-height: 0px;
    transition: var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover #channels > ul > div:nth-child(1){
    max-height: 84px;
    transition: var(--5);
    transition-delay: var(--8);
}

.voiceChannelsButton__29444{ /* show all voice channels button */
    pointer-events: none;
    opacity: 0;
    max-width: 188px;
    transition: opacity var(--6);
    transition-delay: var(--7);
}
.sidebar_c48ade:hover .voiceChannelsButton__29444{
    opacity: 1;
    transition: opacity var(--5);
    transition-delay: var(--8);
    animation: not-selectable calc(var(--8) + var(--5)/2) step-end forwards;
}
