/**
* @name Collapse
* @description Makes the sidebars collapsible
* @author Fibes
*/


/* add/remove comments surrounding an @import to disable/enable that feature */

/* guilds sidebar */
@import url('https://raw.githubusercontent.com/Fibes1/discord-collapse/main/guilds.css');
/* channels sidebar */
/* @import url('https://raw.githubusercontent.com/Fibes1/discord-collapse/main/channels.scss'); */
/* users sidebar */
@import url('https://raw.githubusercontent.com/Fibes1/discord-collapse/main/users.css');
/* no scrollbar (recommended if you're using the channels sidebar, credit to comfy themes) */
@import url('https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css');

:root {
    /* guilds settings */
    --1: 0.2s; /* reveal animation length (default: 0.2s) */
    --2: 0.6s; /* hide animation length (default: 0.6s) */
    --3: 1s; /* how long the sidebar stays open after your cursor is moved away (default: 1s) */
    --4: 0s; /* how long the cursor should stay hovered before the sidebar is revealed (default: 0s) */

    /* channels settings */
    --5: 0.2s; /* reveal animation length (default: 0.2s) */
    --6: 0.6s; /* hide animation length (default: 0.6s) */
    --7: 1s; /* how long the sidebar stays open after your cursor is moved away (default: 1s) */
    --8: 0.3s; /* how long the cursor should stay hovered before the sidebar is revealed (default: 0.3s) */
    --9: 52px; /* width when collapsed (default: 52px) */

    /* users settings */
    --10: 0.2s; /* reveal animation length (default: 0.2s) */
    --11: 0.6s; /* hide animation length (default: 0.6s) */
    --12: 1s; /* how long the sidebar stays open after your cursor is moved away (default: 1s) */
    --13: 0.3s; /* how long the cursor should stay hovered before the sidebar is revealed (default: 0.3s) */
}
