._5e434347c823b592-guilds{
    position: absolute;
    z-index: 101;
    height: 100%;
    padding-right: 1px;
    left: calc(0px - var(--custom-guild-list-width));
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.0);
    transition: var(--2);
    transition-delay: var(--3);
}
._5e434347c823b592-guilds:hover{
    left: 0px;
    padding-right: 0px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
    transition: var(--1);
    transition-delay: var(--4);
}
