.guilds__2b93a{
    position: absolute;
    z-index: 10;
    height: 100%;
    padding-right: 1px;
    left: -72px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.0);
    transition: var(--2);
    transition-delay: var(--3);
}
.guilds__2b93a:hover{
    left: 0px;
    padding-right: 0px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
    transition: var(--1);
    transition-delay: var(--4);
}
