.guilds__2b93a{
    opacity: 0;
    width: 0px;
    transition: var(--2);
    transition-delay: var(--3);
    padding: 1px;
}
.guilds__2b93a:hover{
    opacity: 1;
    width: 72px;
    transition: var(--1);
    transition-delay: var(--4);
}
