.container_cbd271{
    opacity: 0;
    width: 0px;
    transition: var(--11);
    transition-delay: var(--12);
    padding: 1px;
}
.container_cbd271:hover{
    opacity: 1;
    width: 240px;
    transition: var(--10);
    transition-delay: var(--13);
}
.container_cbd271:has(.selected_e9f61e){
    opacity: 1;
    width: 240px;
}

.toolbar_fc4f04 > div[aria-label="Hide Member List"]{
    display: none;
}
