.c8ffbb79449f399c-membersWrap{
    position: absolute;
    z-index: 10;
    height: 100%;
    right: calc(0px - var(--custom-member-list-width));
    background-color: var(--background);
    padding-left: 1px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.0);
    transition: var(--11);
    transition-delay: var(--12);
}
.c8ffbb79449f399c-membersWrap:hover{
    right: 0px;
    padding-left: 0px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
    transition: var(--10);
    transition-delay: var(--13);
}
.c8ffbb79449f399c-membersWrap:has(._91a9d7f7e5248a56-selected){
    right: 0px;
    padding-left: 0px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
}

._9293f6b2fc12398a-toolbar > div[aria-label="Hide Member List"]{
    display: none;
}

.c8ffbb79449f399c-container{
    width: 0px;
}
