.membersWrap_c8ffbb{
    position: absolute;
    z-index: 10;
    height: 100%;
    right: calc(0px - var(--custom-member-list-width));
    background-color: var(--background);
    padding-left: 1px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.0);
    transition: var(--11);
    transition-delay: var(--12);
}
.membersWrap_c8ffbb:hover{
    right: 0px;
    padding-left: 0px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
    transition: var(--10);
    transition-delay: var(--13);
}
.membersWrap_c8ffbb:has(.selected__91a9d){
    right: 0px;
    padding-left: 0px;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.3);
}

.toolbar__9293f > div[aria-label="Hide Member List"]{
    display: none;
}

.container_c8ffbb{
    width: 0px;
}
